<div id="error_explanation">
  <% if @book.errors.any? %>
  <h1><%= @book.errors.count %>errors prohibited this user from being saved:</h1>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  </div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Editing Book</h1>
      <%= form_with model:@book, local: true do |f| %>
      <div class="form-group">
        <label for="bookTitle">Title</label><br>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label for="bookOpinion">Opinion</label><br>
        <%= f.text_area :body, class: 'form-control' %>
      </div>
      <div class="form-group">
        <input type="submit" value="Update Book" class="btn btn-success" data-disable-with="Update Book">
      </div>
      <% end %>
      <%= link_to 'Show', book_path %>
      |
      <%= link_to 'Back', books_path %>
    </div>
  </div>
</div>
